.about-area {
    background: url("/Image/home_three_about_bg.png") no-repeat bottom;
    position: relative;
    width: 100%;
    height: 400px;
    @media (max-width: 767px) {
        top: -230px;
        background: url("/Image/home_three_about_bg.png") no-repeat scroll center bottom / contain ;
        max-height: 600px;
        max-width: 375px;
        height: 230px;
    }
    .container {
        @media (max-width: 767px) {
            position: relative;
            top: -310px;
        }
    }
    .area-title {
        color: $main-color;
        display: inline-block;
        font-family: 'Dancing Script', cursive;
        letter-spacing: 2px;
        margin: 0;
        padding: 0 20px 45px;
        text-transform: capitalize;
        font-size: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 767px) {
            font-size: 40px;
        }
    }
    .big-text {
        font-size: 80px;
        font-weight: 700;
        float: left;
        padding: 20px;
    }
}
